In [3]:
%load_ext autoreload
%autoreload 2
import risktools as rt

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
rt.data.open_data('crudeOil')['xomAssays']

,assay,terengganu,Whole_crude,Butane_and_Lighter_IBP_60F,Lt_Naphtha_C5_165F,Hvy_Naphtha_165_330F,Kerosene_330_480F,Diesel_480_650F,Vacuum_Gas_Oil_650_1000F,Vacuum_Residue_1000F_,...,kissanje-blend,girassol,basrah-light,hungo-blend,grane,balder,pazflor,basrah-heavy,hebron,kearl
0,terengganu,"Cut volume, %",100.0,1.1575,57.1544,33.0106,6.0062,2.2749,0.2647,0.1317,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,terengganu,"API Gravity,",73.097,115.4596,86.5408,57.2095,45.7447,39.2749,36.5690,35.3814,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,terengganu,"Specific Gravity (60/60F),",0.6916,0.5730,0.6490,0.7498,0.7983,0.8286,0.8419,0.8479,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,terengganu,"Carbon, wt %",84.7183,82.6158,83.5600,86.0419,86.0030,86.0678,85.5847,83.5535,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,terengganu,"Hydrogen, wt %",15.2042,17.3842,16.4400,13.9581,13.9909,13.8976,14.3266,12.3776,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,kearl,NaN,10.3461,0.2613,0.2966,0.3804,0.7520,1.7958,16.8433,75670.3995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Viscosity at 100C/212F, cSt"
42,kearl,NaN,3.9013,0.1990,0.2297,0.2834,0.4809,0.9866,4.7858,1506.0710,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Viscosity at 150C/302F, cSt"
43,kearl,NaN,NaN,NaN,NaN,29.7052,39.3023,39.1714,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cetane Index 1990 (D4737),"
44,kearl,NaN,NaN,NaN,NaN,-155.3691,-76.5242,-21.1480,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Cloud point, F"
45,kearl,NaN,NaN,NaN,NaN,NaN,143.7118,139.9545,132.2801,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Aniline pt, F"

In [11]:
rt.data.get_names()

['crudeOil',
 'cushing',
 'dflong',
 'dfwide',
 'eiaStocks',
 'eiaStorageCap',
 'eurodollar',
 'expiry_table',
 'fizdiffs',
 'futuresRef',
 'fxfwd',
 'holidaysOil',
 'ohlc',
 'planets',
 'refineryLPdata',
 'tickers_eia',
 'tradeCycle',
 'tradeHubs',
 'tradeprocess',
 'wti_swap',
 'stocks',
 'tsQuotes',
 'usSwapCurves',
 'usSwapCurvesPar']

In [14]:
rt.data.open_data('cushing')

{'c1':            date   Open   High    Low  Close
 0    2013-01-02  91.78  93.87  91.56  93.12
 1    2013-01-03  92.91  93.30  92.49  92.92
 2    2013-01-04  92.86  93.21  91.52  93.09
 3    2013-01-07  93.21  93.35  92.42  93.19
 4    2013-01-08  93.32  93.80  92.67  93.15
 ...         ...    ...    ...    ...    ...
 2669 2023-08-14  83.09  83.20  81.76  82.51
 2670 2023-08-15  82.52  82.91  80.40  80.99
 2671 2023-08-16  81.23  81.43  79.05  79.38
 2672 2023-08-17  79.25  81.08  78.95  80.39
 2673 2023-08-18  80.04  81.61  79.59  81.25

 [2674 rows x 5 columns],
 'c2':            date     Open     High      Low  Close
 0    2013-01-02  92.2038  94.3035  91.9828  93.55
 1    2013-01-03  93.3300  93.7217  92.9081  93.34
 2    2013-01-04  93.2790  93.6305  91.9329  93.51
 3    2013-01-07  93.6501  93.7908  92.8564  93.63
 4    2013-01-08  93.7708  94.2531  93.1177  93.60
 ...         ...      ...      ...      ...    ...
 2669 2023-08-14  82.4958  82.6051  81.1754  81.92
 2670 2023-08-15  82.0207  82.4084  79.9136  80.50
 2671 2023-08-16  80.8616  81.0607  78.6915  79.02
 2672 2023-08-17  78.7669  80.5858  78.4688  79.90
 2673 2023-08-18  79.4588  81.0174  79.0121  80.66

 [2674 rows x 5 columns],
 'c1c2':            date    Open    High     Low  Close
 0    2013-01-02 -0.4238 -0.4335 -0.4228  -0.43
 1    2013-01-03 -0.4200 -0.4217 -0.4181  -0.42
 2    2013-01-04 -0.4190 -0.4205 -0.4129  -0.42
 3    2013-01-07 -0.4401 -0.4408 -0.4364  -0.44
 4    2013-01-08 -0.4508 -0.4531 -0.4477  -0.45
 ...         ...     ...     ...     ...    ...
 2669 2023-08-14  0.5941  0.5949  0.5846   0.59
 2670 2023-08-15  0.4993  0.5016  0.4864   0.49
 2671 2023-08-16  0.3684  0.3693  0.3585   0.36
 2672 2023-08-17  0.4831  0.4942  0.4812   0.49
 2673 2023-08-18  0.5812  0.5926  0.5779   0.59

 [2674 rows x 5 columns],
 'storage':           date  stocks  capacity  utilization  year  c1c2
 0   2011-04-01   41870     48001       0.8723  2011 -0.56
 1   2011-04-08   41896     48001       0.8728  2011 -0.58
 2   2011-04-15   41126     48001       0.8568  2011 -0.56
 3   2011-04-29   40490     48001       0.8435  2011 -0.50
 4   2011-05-06   41614     48001       0.8669  2011 -0.59
 ..         ...     ...       ...          ...   ...   ...
 599 2023-07-07   41239     77990       0.5288  2023  0.09
 600 2023-07-14   38348     77990       0.4917  2023  0.10
 601 2023-07-28   34480     77990       0.4421  2023  0.40
 602 2023-08-04   34639     77990       0.4441  2023  0.55
 603 2023-08-11   33802     77990       0.4334  2023  0.62

 [604 rows x 6 columns]}

In [12]:
rt.data.open_data('dfwide')

,CL01,CL02,CL03,CL04,CL05,CL06,CL07,CL08,CL09,CL10,...,HTT03,HTT04,HTT05,HTT06,HTT07,HTT08,HTT09,HTT10,HTT11,HTT12
date,,,,,,,,,,,,,,,,,,,,,
2007-01-02,61.05,62.38,63.26,63.95,64.54,65.04,65.49,65.89,66.23,66.53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-03,58.32,59.41,60.34,61.05,61.65,62.18,62.64,63.06,63.41,63.72,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-04,55.59,56.64,57.60,58.38,59.04,59.62,60.12,60.58,60.98,61.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-05,56.31,57.39,58.35,59.18,59.91,60.54,61.08,61.56,61.98,62.35,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007-01-08,56.09,57.36,58.38,59.26,60.01,60.67,61.24,61.76,62.21,62.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-10-16,86.66,85.26,84.02,82.92,82.04,81.32,80.71,80.15,79.63,79.14,...,1.25,1.30,1.35,1.38,1.48,1.58,1.60,1.60,1.60,1.70
2023-10-17,86.66,85.44,84.30,83.26,82.42,81.71,81.08,80.51,79.97,79.47,...,1.25,1.28,1.30,1.38,1.45,1.53,1.58,1.58,1.58,1.63
2023-10-18,88.32,87.27,86.09,84.97,84.03,83.23,82.53,81.89,81.29,80.71,...,1.20,1.25,1.30,1.35,1.43,1.50,1.50,1.53,1.55,1.63
2023-10-19,89.37,88.37,87.06,85.79,84.69,83.77,82.98,82.27,81.60,80.97,...,1.05,1.15,1.25,1.35,1.38,1.40,1.50,1.53,1.55,1.55
2023-10-20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN